.spinner {
    border: 5px solid black;
    width: 10px;
    height: 10px;
    animation: spin 1s linear infinite;
}

@keyframes spin{
    0% {transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
}

.country-card{
    border: 1px solid black;
    padding: 20px;
    width: 1000px;
    background-color: aquamarine;
    min-height: 200px;
}

.border-grid {
    display: flex;
    flex-direction: column;
    
   
}

.error {
    color: red;
    /* Additional styling */
}

.hidden {
    display: none;
    
}

