.spinner {
    border: 5px solid black;
    width: 10px;
    height: 10px;
    border-radius: 20px;
    animation: spin 1s linear infinite;
}

@keyframes spin{
    0% {transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
}

.country-card{
    display: block;
    margin: auto;
    border: 1px solid black;
    width: 80px;
    height: 60px;
}

border-grid {
    display: flex;
   
}

.error {
    color: red;
    /* Additional styling */
}

.hidden {
    display: none;
}